<div class="form-container">
    <form [formGroup]="unifiedForm">
      <nb-accordion>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>Supplier Search</nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="form-grid">
              <input nbInput fullWidth placeholder="Supplier ID" formControlName="id" />
              <input nbInput fullWidth placeholder="Name" formControlName="name" />
              <input nbInput fullWidth placeholder="RUC" formControlName="ruc" />
              <input nbInput fullWidth placeholder="Email" formControlName="email" />
              <input nbInput fullWidth placeholder="Phone" formControlName="phone" />
            </div>
            <div class="button-container">
              <div class="action-buttons-grid">
                <button nbButton status="primary" (click)="findByparameter()">🔍 Search</button>
                <button nbButton status="success" (click)="onNewSupplier()">➕ New Supplier</button>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

    <nb-accordion>
      <nb-accordion-item expanded="true">
        <nb-accordion-item-header>Data Results</nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-table-datasource
            [datas]="results"
            [defaultColumns]="defaultColumnsInput"
            (editAction)="handleEditAction($event)"
            (deleteAction)="deleting($event)"
            [hasMorePages]="hasMorePagesT"
            (loadMoreData)="loadSupplierData()"
            (noData)="showNoDataMessage()">
          </app-table-datasource>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </form>
  
  </div>
  