<nb-card>
  <nb-card-header>Purchase Order Detail</nb-card-header>
  <nb-card-body>
    <form [formGroup]="purchaseOrderForm">
      <div class="form-grid">
        <input nbInput fullWidth placeholder="ID" formControlName="purchaseOrderId" readonly />
        <input nbInput fullWidth placeholder="Supplier ID" formControlName="supplierId" />
        <input nbInput fullWidth type="date" placeholder="Order Date" formControlName="orderDate" />
        <input nbInput fullWidth placeholder="Status" formControlName="status" />
      </div>

      <nb-checkbox formControlName="active">Active</nb-checkbox>

      <div class="button-container">
        <button nbButton status="primary" (click)="savePurchaseOrder()">Save</button>
        <button nbButton status="danger" (click)="returnToList()">Return</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
