<div class="flex-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="container form-group">
        <div class="row">
          <label class="">Mail</label>
          <input 
            nbInput 
            type="text" 
            status="primary" 
            fieldSize="small" 
            placeholder="Enter Mail" 
            formControlName="user">
        </div>
        <div class="row">
          <label>Password</label>
          <input 
            nbInput 
            type="password" 
            status="primary" 
            fieldSize="small" 
            placeholder="Enter Password" 
            formControlName="password">
        </div>
        <div class="row col-md-2">
            <button nbButton status="primary">LogIn</button>

        </div>
        <div class="col-md-6">
          <img src="assets/imgs/mobil.png" width="100%" alt="Logo">
        </div>
      </div>
    </form>
  </div>
  